.default-text-style {
    font-family: var(--default-font);
    font-size: 18px;
    color: var(--button-text-primary);
}
.default-button-style {
    border-radius: 7px;
    border-color: transparent;
    background-color: var(--button-primary);
    padding: 10px 7px;
}
.default-button-style:active {
    background-color: var(--primary-dark);
}
.default-button-style-invalid {
    background-color: var(--default-disabled) !important;
}