.poll-details-container {
    display: block;
}
.poll-details-data-element {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}
.view-polls-container {
    background-color: var(--primary-light);
    padding: 25px;
    border-radius: 10px;
    elevation: 20deg;
}
