.leaderboard-container {
    display: block;
}

.leaderboard-data {
    display: grid;
    grid-area: 2 /2;
    margin: 25px;
}

.leaderboard-data-grid-item:nth-child(0) {

    grid-area: 2 /1;

}

.leaderboard-data-grid-item:nth-child(1) {
    grid-area: 1 /2;
}

.leaderboard-data-grid-item:nth-child(2) {
    grid-area: 2/ 2;
}

.leaderboard-data-grid-item:nth-child(3) {
    grid-area: 1/1;
}