.create-question-page-container {
    text-align: center;
}
.create-question-page-save-btn {
    margin-top: 25px;
    width: 100%;

}
.create-question-page-input {
    width: 100%;
}
.default-question-h2-create-question {
    text-align: center;
}
.title-create-question {
    text-align: center;
}
.elements-create-question {
    justify-content: space-around;
    flex: 1;
    flex-direction: column;
    display: inline-flex;
    width: 400px;
}